@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../public/fonts/inter.woff2') format('woff2'),
        url('../public/fonts/inter.woff') format('woff');
}

@font-face {
    font-family: "Inter-fallback";
    size-adjust: 100%;
    letter-spacing: 10px;
    descent-override: 24%;
    ascent-override: 94%;
    src: local("Arial");
}

:root {
    --dark: #101828;    ;
    --light: #475467;
}

html{
    font-family: Inter, Inter-fallback;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

a, button{
    font-family: Inter, Inter-fallback;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
}

html, body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.hideMobile{
    display: none;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto;
}

.alignY{
    display: flex;
    align-items: center;
}

.openAppButton{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0.688861px 1.37772px rgba(16, 24, 40, 0.05);
    font-weight: 600;
}

.buttonHover{
    transition: transform 0.2s ease-in-out;
}

.buttonHover:hover{
    transform: scale(1.03);
}

.smallAppButton{
    font-size: 0.78rem;
    padding: 11px 19px;
    border-radius: 5.51089px;
}

.smallAppButton img{
    width: 18px;
    height: 14px;
    margin-left: 8px;
}

.largeAppButton{
    font-size: 1.13rem;
    padding: 16px 33px;
    border-radius: 8.11667px;
}

.largeAppButton img{
    width: 21px;
    height: 18px;
    margin-left: 12px;
}

#landingThumbnail{
    background-image: url("../public/landingBackgroundThumbnail.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url("../public/landingBackground.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#news{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16.2333px;
    color: #18371F;
    padding: 5px 10px;
    font-size: 0.78rem;
    font-weight: 500;
    cursor: pointer;

}

#news label{
    cursor: pointer;
}

#news span{
    background-color: white;
    color: #295332;
    padding: 2px 10px;
    border-radius: 16.2333px;
}

#landing h1{
    font-size: 3.75rem;
    margin: 16px 0 0 0;
    text-align: center;
}

#landing h2{
    font-size: 1.3rem;
    margin: 24px 0 40px 0;
    text-align: center;
}

#harvestAppImg{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1045px;
    margin-top: 15px;
}

#harvestAppImg span{
    position: relative;
    width: 100%;
    padding-bottom: 47%;
    background-image: url("../public/appScreenThumbnail.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#harvestAppImg span img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#stats{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 870px;
    margin: 50px auto;
    gap: 30px 0;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.stat span{
    color: #FF9400;
    font-size: 3.75rem;
}

.stat label{
    font-size: 1.2rem;
    color: var(--dark);
    margin-top: 15px;
}

#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 96px auto;
}

.smallSectionTitle{
    color: #FF9400;
    font-size: 1rem;
    font-weight: 600;
}

#features h2{
    color: var(--dark);
    font-size: 2.25rem;
    font-weight: 600;
    margin: 12px 0 20px 0;
}

#featuresInfo{
    color: var(--light);
    font-size: 1.25rem;
}

#featuresGrid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
    justify-content: center;
    gap: 32px;
}

.feature{
    padding: 10px;
    text-align: center;
}

.feature img{
    width: 48px;
    height: 48px;
}

.feature label{
    display: block;
    font-size: 1.25rem;
    color: var(--dark);
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.feature span{
    color: var(--light);
    font-size: 1rem;
}

#ecosystem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 96px 0;
}

.platforms{
    display: flex;
    justify-content: space-evenly;
    max-width: 940px;
    flex-wrap: wrap;
}

.platforms img{
    width: 50px;
    height: 50px;
    margin: 30px 20px 0 20px;
}

#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0 64px 0;
}

.sectionTitle{
    color: var(--dark);
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.sectionLabel{
    color: var(--light);
    font-size: 1.25rem;
    margin: 20px 0 64px 0;
    text-align: center;
}

.accordion{
    max-width: 900px;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #EAECF0;
    margin-top: 24px;
}

.accordion:first-of-type{
    margin-top: 0;
}

.accordionTitle{
    display: flex;
    justify-content: space-between;
    color: var(--dark);
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.accordionTitle img{
    width: 24px;
    height: 24px;
}

.accordionBody{
    color: var(--light);
    font-size: 1rem;
    padding-right: 40px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

#audit{
    margin: 0 0 96px 0;
}

#audit h2{
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 0 45px 0;
}

#certs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

#certs img{
    max-width: 100%;
}

#certs img:hover{
    filter: brightness(0%);
}

#community{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F9FAFB;
    padding: 96px 15px 15px 15px;
}

#communityButtons{
    display: flex;
    justify-content: center;
    gap: 0 50px;
    flex-wrap: wrap;
    margin: 50px;
}

#communityButtons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    padding: 16px 0;
    color: white;
    font-size: 1.125rem;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

#communityButtons a img{
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

#communityButtons a:first-of-type{
    background-color: #8C9EFF;
}

#communityButtons a:last-of-type{
    background-color: #1D9BF0;
}

#token{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: -15px;
    gap: 0 30px;
}

#tokenButtons{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 12px;
}

#tokenButtons a{
    text-align: center;
    min-width: 180px;
    margin-bottom: 15px;
}

.learnMoreBtn{
    background-color: white;
    border: 1.28611px solid #D0D5DD;
    box-shadow: 0px 1.28611px 2.57222px rgba(16, 24, 40, 0.05);
}

#tokenImg{
    width: 100%;
    max-width: 600px;
}

.tokenList{
    list-style: none;
    padding-left: 16px;
    margin-top: 32px;
}

.tokenList li{
    margin-bottom: 20px;
    text-align: left;
}

.tokenList li img{
    margin-right: 15px;
}

#links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 64px 0;
    justify-items: center;
}

#links label{
    color: #667085;
    font-size: 0.875rem;
    font-weight: bold;
}

#links ul{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

#links ul li{
    color: var(--light);
    font-weight: bold;
    margin-top: 12px;
    transition: color 0.2s ease-in-out;
}

#links ul li:hover{
    color: black;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span{
    color: #667085;
}

@media (min-width: 768px){
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #E0E0E0;
        border-radius: 8px;
    }
    .hideMobile{
        display: block;
    }
    #stats{
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 96px auto;
    }
    #featuresGrid{
        grid-template-columns: 1fr 1fr;
    }
    #certs{
        grid-template-columns: 1fr 1fr;
        gap: 30px 20px;
    }
    #token{
        grid-template-columns: 1fr 1fr;
    }
    #token h2{
        text-align: left;
    }
    #tokenButtons{
        justify-content: flex-start;
    }
    #links{
        justify-items: start
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
    #featuresGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #certs{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}