@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../public/fonts/inter.woff2') format('woff2'),
        url('../public/fonts/inter.woff') format('woff');
}

@font-face {
    font-family: "Inter-fallback";
    size-adjust: 100%;
    letter-spacing: 10px;
    descent-override: 24%;
    ascent-override: 94%;
    src: local("Arial");
}

html{
    font-family: Inter, Inter-fallback;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

a, button{
    font-family: Inter, Inter-fallback;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
}

html, body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.hideMobile{
    display: none;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto;
}

.alignY{
    display: flex;
    align-items: center;
}

.openAppButton{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0.688861px 1.37772px rgba(16, 24, 40, 0.05);
    font-weight: 600;
}

.smallAppButton{
    font-size: 0.78rem;
    padding: 11px 19px;
    border-radius: 5.51089px;
}

.smallAppButton img{
    width: 18px;
    height: 14px;
    margin-left: 8px;
}

.largeAppButton{
    font-size: 1.13rem;
    padding: 16px 33px;
    border-radius: 8.11667px;
}

.largeAppButton img{
    width: 21px;
    height: 18px;
    margin-left: 12px;
}


#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url("../public/landingBackground.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#news{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16.2333px;
    color: #18371F;
    padding: 5px 10px;
    font-size: 0.78rem;
    font-weight: 500;
    cursor: pointer;

}

#news label{
    cursor: pointer;
}

#news span{
    background-color: white;
    color: #295332;
    padding: 2px 10px;
    border-radius: 16.2333px;
}

#landing h1{
    font-size: 3.75rem;
    margin: 16px 0 0 0;
    text-align: center;
}

#landing h2{
    font-size: 1.3rem;
    margin: 24px 0 40px 0;
    text-align: center;
}

#harvestAppImg{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1045px;
    margin-top: 15px;
}

#harvestAppImg span{
    position: relative;
    width: 100%;
    padding-bottom: 47%;
}

#harvestAppImg span img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#stats{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 870px;
    margin: 50px auto;
    gap: 30px 0;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.stat span{
    color: #FF9400;
    font-size: 3.75rem;
}

.stat label{
    font-size: 1.2rem;
    color: #101828;
    margin-top: 15px;
}

#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#features h4{
    color: #FF9400;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

#features h2{
    color: #101828;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 12px 0 20px 0;
}

#featuresInfo{
    color: #475467;
    font-size: 1.25rem;
}

#featuresGrid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
    justify-content: center;
    gap: 32px;
}

.feature{
    padding: 10px;
    text-align: center;
}

.feature img{
    width: 48px;
    height: 48px;
}

.feature label{
    display: block;
    font-size: 1.25rem;
    color: #101828;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.feature span{
    color: #475467;
    font-size: 1rem;
}

@media (min-width: 768px){
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #E0E0E0;
        border-radius: 8px;
    }
    .hideMobile{
        display: block;
    }
    #stats{
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 96px auto;
    }
    #featuresGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
    #featuresGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}