@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('public/fonts/inter.woff2') format('woff2'),
        url('public/fonts/inter.woff') format('woff');
}

@font-face {
    font-family: "Inter-fallback";
    size-adjust: 100%;
    letter-spacing: 10px;
    descent-override: 24%;
    ascent-override: 94%;
    src: local("Arial");
}

html{
    font-family: Inter, Inter-fallback;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

*{
    box-sizing: border-box;
}

a, button{
    font-family: Inter, Inter-fallback;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
}

html, body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

section{
    margin: 50px 0;
}

.hideMobile{
    display: none;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.07rem;
    line-height: 31px;
    color: #15202B;
    margin-right: 40px;
}

.logo img{
    background: #F6F6F6;
    height: 52px;
    width: 52px;
    padding: 12px;
    margin-right: 10px;
    border-radius: 15px;
}

.alignY{
    display: flex;
    align-items: center;
}

#navabr{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#tooglerButton{
    width: 40px;
    height: 40px;
    padding: 12px;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

#toogler{
    position: relative;
    width: 100%;
    height: 100%;
}

#toogler span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.2s ease-in-out;
}

.tooglerOpened span:nth-of-type(1){
    top: 50%;
    transform: rotate(45deg);
}

.tooglerOpened span:nth-of-type(2){
    opacity: 0;
    transition: none;
}

.tooglerOpened span:nth-of-type(3){
    top: 50%;
    transform: rotate(-45deg);
}

.tooglerClosed span:nth-of-type(1){
    top: 0;
}

.tooglerClosed span:nth-of-type(2){
    top: 50%;
}

.tooglerClosed span:nth-of-type(3){
    top: 100%;
}

#toogleNav{
    position: absolute;
    display: none;
    list-style: none;
    background-color: white;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.toogleNav li{
    display: table;
}

.navLink{
    display: block;
    margin-right: 32px;
    font-weight: 600;
    color: #475467;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    margin: 15px 0;
    font-size: 1.3rem;
    letter-spacing: 0.09rem;
}

.navLink:hover{
    color: black;
}

.openAppButton{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0.688861px 1.37772px rgba(16, 24, 40, 0.05);
    font-weight: 600;
}

.smallAppButton{
    font-size: 0.78rem;
    padding: 11px 19px;
    border-radius: 5.51089px;
}

.smallAppButton img{
    width: 18px;
    height: 14px;
    margin-left: 8px;
}

.largeAppButton{
    font-size: 1.13rem;
    padding: 16px 33px;
    border-radius: 8.11667px;
}

.largeAppButton img{
    width: 21px;
    height: 18px;
    margin-left: 12px;
}

#landingThumbnail{
    background-image: url("./public/landingBackgroundThumbnail.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url("./public/landingBackground.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#news{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16.2333px;
    color: #18371F;
    padding: 5px;
    font-size: 0.78rem;
    font-weight: 500;
    cursor: pointer;

}

#news span{
    background-color: white;
    color: #295332;
    padding: 2px 10px;
    border-radius: 16.2333px;
}

#landing h1{
    font-size: 3.75rem;
    margin: 16px 0 0 0;
    text-align: center;
}

#landing h2{
    font-size: 1.3rem;
    margin: 24px 0 40px 0;
    text-align: center;
}

#harvestAppImg{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1045px;
    margin-top: 15px;
}

#harvestAppImg span{
    position: relative;
    width: 100%;
    padding-bottom: 47%;
}

#harvestAppImg span img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#stats{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 870px;
    margin: 96px auto;
    gap: 30px 0;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.stat span{
    color: #FF9400;
    font-size: 3.75rem;
}

.stat label{
    font-size: 1.2rem;
    color: #101828;
    margin-top: 15px;
}



@media (min-width: 768px){
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #E0E0E0;
        border-radius: 8px;
    }
    section{
        margin: 96px 0;
    }
    .hideMobile{
        display: block;
    }
    #tooglerButton{
        display: none;
    }
    #toogleNav{
        position: relative;
        display: flex!important;
        width: auto;
        top: unset;
        bottom: unset;
        padding: 0;
        height: auto;
    }
    .navLink{
        font-weight: 600;
        margin: 0 32px 0 0;
        font-size: 1rem;
    }
    #stats{
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
}